.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
    font-size: 1.4rem;
    min-width: 200px;
    max-width: 17%;
    height: 100%;
    float: left;
}
.img {
    background-color: cornflowerblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box img {
    width: 90%;
}

@media screen and (max-width: 1024px) {
    .box {
    flex-basis: 33.33%;
    }
    }
    @media screen and (max-width: 768px) {
    .box {
    flex-basis: 50%;
    }
    }
    @media screen and (max-width: 414px) {
    .box {
    flex-basis: 100%;
    }
    }
    h1 {
        padding-left: 40px;  
    }


